
@font-face {
    font-family: 'MarkProMedium';
    src: url(../../fonts/FontFont_FF.Mark.Pro.Medium.Italic.otf);
  }  
@font-face {
    font-family: 'MarkPro';
    src: url(../../fonts/FontFont_FF.otf);
} 
@font-face {
    font-family: 'MarkProRegular';
    src: url(../../fonts/FontFont_FF.Mark.Pro.Italic.otf);
}
@font-face {
    font-family: 'MarkProHeavy';
    src: url(../../fonts/FontFont_FF.Mark.Pro.Heavy-edit.otf);
}


.mpMedium{
    font-family: 'MarkProMedium';
}
.mpRegular{
    font-family: 'MarkProRegular';
}
.mpHeavy{
    font-family: 'MarkProHeavy';
}