.textArea a:hover{
    color:#fff;
}
  .yaziKucuk{
      padding-bottom: 1rem;
      font-size: 24px;
      
  }
  a{
      text-decoration: none;
      color: #fff;
  }
  
  /* a:hover{
      color: #fff;
  } */
  .linkYazi{
      color: black;
      text-decoration: underline;
  }
  .linkYazi:hover{
      color: black;
  }
  .btnYazi{
      font-size: 24px;
  }
  .btnYazi:hover{
      color: #fff;
      
  }

  /* text */
  .otuzAlti{
      font-size: 36px;
  }
  .yirmiSekiz{
      font-size: 28px;
  }
  .yirmiAlti{
      font-size: 26px;
  }
  .yirmiDort{
      font-size: 24px;
  }

  /* color */
  .bg-color{
    background-color: var(--bs-primary);
  }
  .text-color{
    color:var(--bs-dark);
  }
  .text-opacity{
    color:var(--bs-secondary);
  }