.textArea a:hover{
    color:#fff;
}
.headYazi{
    font-weight: bold;
    font-style: italic;
    padding-top: 1.5rem;
    font-size: 17px;
    
  }
  .yaziKucuk{
      font-style: italic;
      padding-bottom: 1rem;
  
  }
  .opacityYazi{
      font-style: italic;
      opacity: 0.6;
  }
  /* .mdYazi{
      padding-bottom: 1rem;
      font-size: 1rem;
  } */
  .ortaBaslik{
      padding-bottom: 1rem;
      font-size: 1rem;
  }
  a{
      text-decoration: none;
      color: #fff;
  }
  /* a:hover{
      color: #fff;
  } */
  .linkYazi{
      color: black;
      text-decoration: underline;
  }
