 .arti{
    padding-right:1rem ;
    text-align: center;
} 
.addBtn{
        background: #1a4697;
        color: #fff;
        margin-bottom: 3rem;
        font-style: normal;
        padding:0.5rem 4.4rem;
        /* height: 60px;
        width: 368px; */
    
}
.secimMadde::before{
    content: '';
    height: 10px;
    border-radius: 100%;
    background-color:#1a4697; 
    width: 10px;
    display: inline-block;
    margin-right: 0.2rem;
}
#checkAyarlama .form-check .form-check-input {
    width: 1.5em;
    height: 1.5em;
    float: left;
    margin-left: -0.8em;
}
.kartNo{
    line-height: 35px;
}
.kartEkleHover:hover{
    color:#fff;
}