 .arti{
    padding-right:1rem ;
    text-align: center;
} 
.addBtn{
    /* background: #1a4697;
    margin-bottom: 3rem;
    font-weight: normal;
    font-style: normal; */
        background: #1a4697;
        color: #fff;
        margin-bottom: 3rem;
        font-style: normal;
        padding:0.1rem 4rem;
        height: 60px;
        width: 368px;
    
}
.secimMadde{
    font-size: 18px;
}
.secimMadde::before{
    content: '';
    height: 10px;
    border-radius: 100%;
    background-color:#1a4697; 
    width: 10px;
    display: inline-block;
    margin-right: 0.2rem;
}
.kartSecimYazi{
    /* font-weight: bold;
    font-style: italic; */
    padding-top: 1.5rem;
    font-size: 28px;
}
#checkAyarlama .form-check .form-check-input {
    width: 1.5em;
    height: 1.5em;
    float: left;
    margin-left: -0.8em;
}
.kartNo{
    font-size:18px;
    line-height: 29px;
}
.kartEkleHover:hover{
    color:#fff;
}