.uyariİsareti{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    position: relative;
}
.unlem{
    position: absolute;
    font-size: 228px;
    text-align: center;
    color: #fff;
    font-style: italic;
}
.uyariAltindakiYazi{
    text-align: center;
    /* margin-top: 2rem;
    margin-bottom: 3rem; */
}

